= render partial: 'shared/visitor', object: @visitor, as: :visitor

.voffset4
  = link_to "New reservation", |
            { controller: :reservations, action: :new, visitor_id: @visitor.id }, |
            role: "button", |
            class: "btn btn-s btn-primary"
  = link_to "Edit", |
            { controller: :visitors, action: :edit }, |
            role: "button", |
            class: "btn btn-s btn-default"
