%h3.text-primary{class: ("voffset5" if @present_reservation and params[:future])}= @title

%table#reservations.table

  = render "table_header"

  %tbody
    = render partial: "reservation_line", collection: @reservations, as: :reservation
