%form.form-horizontal{role: "form"}
  .form-group
    %label.col-sm-1.control-label{for: "#start-date"}
      Start date
    .col-sm-10
      %input#start-date.form-control{type: :date, placeholder: "Enter start date"}
